.search {
    top: 1rem;
    width: 250px;
    max-width: 400px;

  }

  .search input {
    padding: 0.2rem;
    font-size: 1rem;
    width: 100%;
  }

  .locate {
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
  }
  .locate img {
    width: 30px;
    cursor: pointer;
  }